.cart_item_star{
    height: 15px;
}

.cart_item{
    display: flex;
    gap: 10px;

}

.cart_item_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart_item_head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

button{
    width: fit-content;
}

.cart_item_img{
    padding: 10px;
    object-fit: contain;
    width: 180px;
    height: 180px;
}

